<div class="chat_header">
  <div class="left-header">
   <a href = "#">hogefuga</a>
  </div>    
  <div class="right-header">
  <a href = "#">チャットを終了する</a>
  </div> 
</div>   
<div class="message">
 <div class="message_box">
  <div class="message_name">
   <a href = "#">Tom</a>
  </div>
  <div class = "message_day_time">
  <a href = "#">2020/3/31/(wed) 12:43:30</a> 
  </div>
 </div> 
 <div class ="message_hello"> 
  <a href = "#">おはよう</a> 
 </div>
  <div class="message_box">
  <div class="message_name">
   <a href = "#">Tom</a>
  </div>
  <div class = "message_day_time">
  <a href = "#">2020/3/31/(wed) 12:47:30</a> 
  </div>
 </div> 
 <div class ="message_hello"> 
  <a href = "#">こんばんわ</a> 
 </div>
</div>
<div class="form">
 <form class="contact-form">
  <input type="text" placeholder="type a message" class="input_form">
  <label class="form-image">
      <span class="image-file">画像</span>
      <input type="file" class="hidden">
    </label>
  <input type="submit" value="送信" class="send"> 
 </form>
</div>