<div class="side-bar-header">
  <div class="header-name">
    <%= link_to edit_user_path(current_user) do %>
      <%= current_user.name %>
    <% end %>
    <a class="name-box" href="#">TOM</a>
  </div>
  <div class="create-room">
    <a class="create-box" href="#">チャット作成</a>
  </div>
</div>
<div class="rooms">
 <div class="room" >
   <a class="room-box" href="#">techroom1</a>
 </div> 
 <div class="room" >
   <a class="room-box" href="#">techroom2</a>     
 </div>
</div>